@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: inherit;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
 
body {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    background-color: #002c3e;
    max-width: 480px;
} 

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

label {
    position: relative;
    height: 20px;
    width: 50px;
    display: block;
    cursor: pointer;
    margin-top: 9px;
}

.icon-menu,
.icon-menu::before,
.icon-menu::after {
    content: '';
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    box-shadow: 0px 6px 7px -3px rgb(117 117 117 / 54%);
}

.icon-menu::after {
    top: 10px;
}

.icon-menu::before {
    top: 5px;
}

.menu-nav {
    background-color: #002c3e;
    height: 0px;
    transition: all 0.4s ease-in-outs 2s;
    overflow: hidden;
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 1;
  
}

.check {
    display: none;
}

.check:checked ~ label > div {
    transform: translateY(10px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.check:checked ~ label > div::before {
    transform: translateY(-5px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.check:checked ~ label > div::after {
    opacity: 0;
    transform: translateY(-10px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.check:checked~.menu-nav {
    height: 145px;
    width: 100%;
}

.list-item {
 width: 100%;
 height: 45px;
 font-size: 20px;
 cursor: pointer;
 border-bottom: 1px solid #2CA0D9;
 outline: none;
 padding: 10px 0px 10px 25px;
 margin-top: 3px;
}

.list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
   }

.list-item a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container {
    background-image: url('public/images/sun-tornado.svg');
    background-size: cover;
    width: 100%;
    height: 520px;
    padding: 60px 0px 0px 40px;
}


h1 {
    color: #f7f8f3;
    font-size: 3rem;
    font-weight: 700;
    margin: 40px 0px 15px 0px;
    width: 90%;
   
}

.title-container span {
    color: #002c3e;
    font-size: 1.7rem;
    font-weight: bold;
}

.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 0px auto;
}

.hobbie {
    width: 40%;
    height: 10vh;
    border: 2px solid #53a6eac9;
    margin: 5px 5px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hobbie img {
    width: 22%;
    height: 9vh; 
    border-radius: 50px 0px 0px 50px;
    margin: 5px;
    padding: 4px;
}

.hobbie p {
    color: white;
    font-size: 11px;
    padding-left: 10px;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px auto 50px auto;
    padding-top: 40px;
}

.cardTool {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardTool h3 {
    height: 5vh;
    margin: 0 auto;
    font-size: 15px;
    width: 80%;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.tools img {
    margin: 30px 10px 0px 10px;
    height: 60px;
    transition: transform 1s ease-out;
}

.tools .svg-logo {
    width: 100px;
}

.tools img:hover {
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

.proyects-container {
    margin-bottom: 35px;
}

.proyect {
    width: 380px;
    height: 600px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
    margin-bottom: 30px;
}


.proyect img {
    border-radius: 10px;
    width: 100%;
    height: 210px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59);
}

.proyect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect h3 {
    font-size: 1rem;
    text-align: center;
    padding: 30px 0px 5px 0px;
    color: white;
}

.proyect p {
    font-size: 15px;
    line-height: 32px;
    padding: 20px 0px;
    width: 250px;
    font-weight: 300;
    text-align: center;
    color: white;

}

.div-icon-proyect {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #53a7ea;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta a {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #53a7ea;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid white;
    background-color: #53a7ea;
    padding: 0px 10px;
}

footer .contact-me {
    margin-top: 20px;
    width: 150px;
    color: #f7f8f3;
    font-size: 30px;
    font-weight: bold;
}

footer p span {
    color: #002c3e;
}

.container-icons {
    width: 40%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;     
    margin-right: 5px;
}

.button {
    font-family: inherit;
    background: #002c3e;
    padding: 0.35em 0;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.06em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2em;
    width: 85%;
   }

   .button p {
       color: white;
       width: 100%;
       height: 90%;
       font-size: 13px;
       text-align: center;
       padding-top: 3px;
       font-weight: 500;
   }
   
   
   .icon img {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 0.3em;
   }



@media screen and (min-width: 960px) {
    
    body {
        max-width: 1328px;
        background-color: #002c3e;
    }

    .header {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .check,
    label,
    .icon-menu {
        display: none;
    }
    
    .menu-nav {
        width: 35%;
        margin-top: 0px;
        position: initial;
        height: 100%;
        right: 0;
        transition: none;
    }

    .menu-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .list-item {
     height: 35px;
     font-size: 20px;
     cursor: pointer;
     padding: 5px 0px;
     background-color: transparent;
    color: white;
    border: none;
    font-weight: 400;
    position: relative;
    transition: all 0.5s;
    margin-right: 10px;
    border-radius: 20px;
    }

    .list-item a {
        padding-left: 15px;
    }

    .list-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #f7444e;
        z-index: -1;
        transition: all 0.5s;
        border-radius: 10px;
    }

    .list-item:hover::before {
        width: 100%;
       }


    .list-item:active:before {
        background: #b9b9b9;
       }

    .title-container {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;    
        height: 90vh;
        padding-left: 120px;
    }
    
    h1 {
        width: 50%;
        font-size: 4rem;
        font-weight: 700;
        text-align: start;
    }

    .title-container span {
            font-size: 3.5rem;
            color: #002c3e;
        }

    .button-container:hover {
        box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
        transform: translateX(3px);
    }

    .about-me {
        height: 60vh;
        margin: 0;
        width: 60%;
        margin: 60px 0px 30px 0px;
    }

    .hobbie {
        height: 11vh;
        width: 44%;
    }
    
    .hobbie img {
        width: 20%;
        height: 10vh;
        padding: 3px;
    }
    
    .hobbie p {
        font-size: 14px;
        padding-left: 40px;
    }


    .tools-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 70vh;
    }

    .cardTool {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardTool h3 {
        font-size: 17px;
        border-bottom: 3px solid #2CA0D9; 
    }

    .tools img {
        height: 50px;
    }

    .proyects-container {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
    }

    .proyect {
        width: 350px;
        height: 650px;
        margin: 10px 10px;
    }

    .proyect:hover {
        transform: scale(1.1, 1.1);
        transition: transform 1s ease-out;
    }
    
    .proyect img {
        width: 330px;
        height: 220px;
    }
    
    .proyect-info {
        padding: 20px 0px;
    }

    .proyect-info h3 {
        padding: 10px;
    }

    .cta {
        cursor: pointer;
    }

    footer {
        margin: 0 auto;
    }

    footer .contact-me {
        padding-top: 40px;
        font-size: 50px;
        width: 30%;
    
    }

    footer p {
        height: 150px;
        width: 30%;
        font-size: 50px;
    }
    /* From uiverse.io by @fanishah */
    .button {
        width: 30%;
        margin: 0px 30px;
        cursor: pointer;
   }

   .button .icon {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
   }
   
   .icon img {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.1rem;
    height: 1.1rem;
   }

   .button:hover {
       background-color: #f7444e;
   }

   .button:hover p {
       visibility: hidden;
   }
   
   .button:hover .icon img {
    transform: rotate(360deg);
   }
   
   .button:hover .icon {
    width: calc(100% - 0.5rem);
    border-radius: 0.5em;
   }
    
}


