@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: inherit;
    color: black;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
 
body {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    background-color: #002c3e;
    max-width: 480px;
} 


nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

nav a {
    font-size: 12px;
    font-weight: 500;
    color: #f7f8f3;
    margin: 0px 10px;
    text-transform: uppercase;
}

nav button {
    width: 140px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
   }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container {
    background-color: #53a7ea;
    width: 100%;
    margin: 0px auto;
    height: 420px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title-container img {
    margin-top: 30px;
    width: 43%;
    height: 38vh;
    border-radius: 50% 50% 49% 51% / 60% 34% 66% 40% ;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
}



h1 {
    color: #f7f8f3;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
 
}

.button-container {
    cursor: pointer;
    height: 45px;
    background-color: #002c3e;
    border: 2px solid #f7444e;
    border-radius: 12px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    width: 50%;
    margin-top: 30px;
    display: none;

}

.button-container a {
    color: #ffffff;
}

h1 {
    font-size: 20px;
}

h1 span {
    color: #f7444e;
    font-size: 26px;
    text-transform: uppercase;
    margin-right: 10px;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0px auto;
}

.hobbie {
    width: 75%;
    height: 12vh;
    border: 2px solid #53a6eac9;
    margin: 5px 0px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hobbie img {
    width: 22%;
    height: 10vh; 
     border-radius: 50px 0px 0px 50px;
     margin: 5px;
     padding: 4px;
}

.hobbie p {
    color: white;
    font-size: 13px;
    padding-left: 20px;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding-top: 40px;
}

.cardTool {
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 17px;
    font-weight: lighter;
    height: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

.tools img {
    margin: 30px 10px 0px 10px;
    height: 60px;
    transition: transform 1s ease-out;
}

.tools .svg-logo {
    width: 100px;
}

.tools img:hover {
    transform: scale(0.9);
    transition: transform 1s ease-out;
}

.proyects-container {
    margin-bottom: 35px;
}

.proyect {
    width: 380px;
    height: 600px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-out;
    margin-bottom: 20px;
}


.proyect img {
    border-radius: 10px;
    width: 100%;
    height: 210px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.59);
}

.proyect-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect h3 {
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

.proyect p {
    font-size: 15px;
    line-height: 32px;
    padding: 40px 0px;
    width: 250px;
    font-weight: 300;
    text-align: center;
    color: white;

}

.div-icon-proyect {
    border-top: 1px solid white;
    padding-top: 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #53a7ea;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta a {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #53a7ea;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }

footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid white;
    background-color: #53a7ea;
    padding: 0px 10px;
}

footer .contact-me {
    margin-top: 20px;
    width: 150px;
    color: #f7f8f3;
    font-size: 30px;
    font-weight: bold;
}

footer p span {
    color: #002c3e;
}

.container-icons {
    width: 40%;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;     
    margin-right: 5px;
}

.button {
    font-family: inherit;
    background: #002c3e;
    padding: 0.35em 0;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.06em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2em;
    width: 85%;
   }

   .button p {
       color: white;
       width: 100%;
       height: 90%;
       font-size: 13px;
       text-align: center;
       padding-top: 3px;
       font-weight: 500;
   }
   
   
   .icon img {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.1rem;
    height: 1.1rem;
   }

   .button:hover {
       background-color: #f7444e;
   }

   .button:hover p {
       visibility: hidden;
   }
   
   .button:hover .icon img {
    transform: rotate(360deg);
   }
   
   .button:hover .icon {
    width: calc(100% - 0.5rem);
    border-radius: 0.5em;
   }



@media screen and (min-width: 960px) {
    body {
        max-width: 1328px;
        background-color: #002c3e;
    } 

    nav {
        display: flex;
        justify-content: center;
    }

    nav button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #f7444e;
        z-index: -1;
        transition: all 0.5s;
        border-radius: 10px;
       }
       
    nav button:hover::before {
        width: 100%;
       }

       .container-background {
           border: 1px solid white;

       }

    .title-container {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap;    
        height: 90vh;
        
    }
    
    .title-container span {
        font-size: 60px;
        color: #002c3e;
    }

    .title-container img {
        width: 25%;
        height: 60vh;
        margin: 0px;
    }
    
    h1 {
        width: 40%;
        margin: 0px; 
        font-size: 40px;
        font-weight: 700;
    }

    .button-container {
        display: none;
    }

    .button-container:hover {
        box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
        transform: translateX(3px);
    }

    .hobbie {
        width: 50%;
        height: 13vh;
    }
    
    .hobbie img {
        width: 12%;
        height: 12vh;
    }
    
    .hobbie p {
        font-size: 18px;
        padding-left: 45px;
    }


    .tools-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 70vh;
    }

    .cardTool {
        width: 40%;
    }

     h3 {
        font-size: 16px;
        height: 40px;
        border-bottom: none;
    }

    .tools img {
        height: 50px;
    }

    .proyects-container {
       display: flex;
       justify-content: space-evenly;
       align-items: center;
    }

    .proyect {
        width: 350px;
        height: 650px;
        margin: 10px 10px;
    }

    .proyect:hover {
        transform: scale(1.1, 1.1);
        transition: transform 1s ease-out;
    }
    
    .proyect img {
        width: 330px;
        height: 220px;
    }
    
    .proyect-info {
        padding: 20px 0px;
    }

    .proyect-info h3 {
        padding: 10px;
    }

    .cta {
        cursor: pointer;
    }

    footer {
        margin: 0 auto;
    }

    footer .contact-me {
        padding-top: 40px;
        font-size: 50px;
        width: 30%;
    
    }

    footer p {
        height: 150px;
        width: 30%;
        font-size: 50px;
    }
    /* From uiverse.io by @fanishah */
    .button {
        width: 30%;
        margin: 0px 30px;
        cursor: pointer;
   }

   .button .icon {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
   }
   
   .icon img {
    margin-left: 0.4em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 1.1rem;
    height: 1.1rem;
   }

   .button:hover {
       background-color: #f7444e;
   }

   .button:hover p {
       visibility: hidden;
   }
   
   .button:hover .icon img {
    transform: rotate(360deg);
   }
   
   .button:hover .icon {
    width: calc(100% - 0.5rem);
    border-radius: 0.5em;
   }
    
}


